body{
	padding: 100px;
    background-color: #4C4C4C;
}

*{
	margin: 25px;
}

h1{
	position: absolute;
    width: 375px;
    height: 30px;
    left: 43px;
    top: 58px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: white;
}

i{
	position: absolute;
    width: 375px;
    height: 30px;
    left: 43px;
    top: 85px;
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: white;
}

canvas{
	max-height: 400px;
	margin-left: -3px;

}

h2{
	font-family: "Courier New", Courier, monospace;
    font-style: bold;
    font-weight: bold;
    font-size: 26px;
    line-height: 5px;
}

img{
    position: absolute;
    width: 140px;
    height: 60px;
    left: 1098px;
    top: 50px;
}

hr{
	position: absolute;
    width: 1192px;
    height: 5px;
    left: 43px;
    top: 125px;
}

#first_container{
	text-align: justify;
	position: absolute;
    width: 583px;
    height: 400px;
    left: 43px;
    top: 147px;
    background-color: white;

}

#second_container{
	position: absolute;
    width: 584px;
    height: 400px;
    left: 653px;
    top: 147px;
    background-color: white;
}

#third_container{
	position: absolute;
    width: 583px;
    height: 400px;
    left: 43px;
    top: 564px;
    background-color: white;
}

#fourth_container{
	position: absolute;
    width: 584px;
    height: 400px;
    left: 653px;
    top: 564px;
    background-color: white;
}